config set omero.web.application_server wsgi-tcp
config set omero.web.application_server.max_requests 0

config set omero.web.session_engine django.contrib.sessions.backends.cache
config set omero.web.caches '{"default": {"BACKEND": "redis_cache.RedisCache", "LOCATION": "redis:6379"} }'

config set omero.web.server_list '[["omeroserver", 4064, "omeroserver"]]'

config set omero.web.application_server.host omeroweb
config set omero.web.application_server.port 4080

config set omero.web.static_root /home/omero/static/


config set omero.web.ui.top_links '[["IDR", {"viewname": "webindex", "query_string": {"experimenter": -1}}, {"title": "Image Data Repository"}], ["Genes", {"viewname": "mapindex_gene", "query_string": {"experimenter": -1}}, {"title": "Genes browser"}], ["Phenotypes", {"viewname": "mapindex_phenotype", "query_string": {"experimenter": -1}}, {"title": "Phenotypes browser"}], ["siRNA", {"viewname": "mapindex_sirna", "query_string": {"experimenter": -1}}, {"title": "siRNA browser"}], ["Compound", {"viewname": "mapindex_compound", "query_string": {"experimenter": -1}}, {"title": "Compound browser"}], ["History", "history", {"title": "History"}], ["About", "/about/"], ["Help", "http://help.openmicroscopy.org/", {"title":"Open OMERO user guide in a new tab", "target":"new"}]]'

