.DS_Store

metadata52/.DS_Store
metadata52/.m2/
metadata52/data/*
metadata52/dist/*
metadata52/nginx/*
metadata52/src/*

omerodev/.DS_Store
omerodev/.m2/
omerodev/data/*
omerodev/dist/*
omerodev/nginx/*
omerodev/src/*
