config set omero.web.debug False

config set omero.web.application_server.max_requests 0

config set omero.web.session_engine django.contrib.sessions.backends.cache
config set omero.web.caches '{"default": {"BACKEND": "django_redis.cache.RedisCache", "LOCATION":  "redis://redis:6379/0", "KEY_PREFIX": "omeroweb"} }'

config set omero.web.server_list '[["omeroserver", 4064, "omeroserver"]]'

config set omero.web.application_server.host omeroweb
config set omero.web.application_server.port 4080

config set omero.web.static_root /home/omero/static/

# webapps
# config set omero.web.apps '["omero_weberror", "omero_webtest"]'

